#! This is an example configuration file

# Project Environment
ENVIRONMENT="development"

# Database
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_DB="my_db"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password@123"

DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10
DB_POOL_RECYCLE=3600
DB_POOL_PRE_PING=true

# Pagination
DEFAULT_PAGE_SIZE= 20
MAX_PAGE_SIZE= 100

# Password Hashhing (Argon2id)
PASSWORD_TIME_COST=2
PASSWORD_MEMORY_COST=65536
PASSWORD_PARALLELISM=4
PASSWORD_HASH_LENGTH=32
PASSWORD_SALT_LENGTH=16

# PGAdmin
PGADMIN_DEFAULT_EMAIL="admin@admin.com"
PGADMIN_DEFAULT_PASSWORD="admin"
PGADMIN_PORT=5050

# JWT
JWT_SECRET_KEY="0c6ef25b300da004a18237ceccdb4d69bc3b4bcbe82fe1e969285818dc7758e2"  # Recreate this; use "opensll rand -hex 32"
JWT_ALGORITHM="HS256"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
JWT_ISSUER=null
JWT_AUDIENCE=null
JWT_LEEWAY_SECONDS=0

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD="password@123"
REDIS_MAX_CONNECTIONS=50
REDIS_SOCKET_TIMEOUT=5
REDIS_SOCKET_CONNECT_TIMEOUT=5
REDIS_DECODE_RESPONSES=true
REDIS_HEALTH_CHECK_INTERVAL=30

# Redis Key Prefixes
REDIS_TOKEN_REVOKE_PREFIX="TOKEN_REVOKED"

# Redis Commander
REDIS_COMMANDER_PORT=8081

# Bootstrap
BOOTSTRAP_SECRET="YOUR_BOOTSTRAP_SECRET"
