#! This is an example configuration file

# Project Environment
ENVIRONMENT="development"

# Database
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_DB="my_db"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password@123"

DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10
DB_POOL_RECYCLE=3600
DB_POOL_PRE_PING=true

# Pagination
DEFAULT_PAGE_SIZE= 20
MAX_PAGE_SIZE= 100

# Password Hashhing (Argon2id)
PASSWORD_TIME_COST=2
PASSWORD_MEMORY_COST=65536
PASSWORD_PARALLELISM=4
PASSWORD_HASH_LENGTH=32
PASSWORD_SALT_LENGTH=16

# PGAdmin
PGADMIN_DEFAULT_EMAIL="admin@admin.com"
PGADMIN_DEFAULT_PASSWORD="admin"
PGADMIN_PORT=5050
